<h3>1. Présentation du site.</h3>
<p class="text-justify">
    En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site&nbsp;
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    &nbsp;l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
    <ul>
        <li>
            <strong>Propriétaire</strong>
            : projet ERC MAP (741182), laboratoire PLH (EA 4601). Maison de la Recherche, Université Toulouse Jean Jaurès, 5 Allée Antonio Machado, 31058 Toulouse Cedex 9.
        </li>
        <li>
            <strong>Créateur</strong>
            : Projet ERC MAP (741182)
        </li>
        <li>
            <strong>Responsable publication</strong>
            : Corinne Bonnet (dir.)
            <em>Le responsable publication est une personne physique ou une personne morale.</em>
        </li>
        <li>
            <strong>Webmaster</strong>
            : équipe MAP,
            <a href="mailto:map.polytheisms@gmail.com">map.polytheisms@gmail.com</a>
        </li>
        <li>
            <strong>Hébergeur</strong>
            : TGIR Huma-Num - UMS 3598, 54 Boulevard Raspail, 75006 Paris
        </li>
        <li>
            <strong>Crédits</strong>
            : Antoine Laurent (webmapping) – Maison de la Recherche, Université Toulouse Jean Jaurès, 5 Allées Antonio Machado, 31058 Toulouse Cedex 9,
            <a href="mailto:antoine.laurent@univ-tlse2.fr">antoine.laurent@univ-tlse2.fr</a>
            et Romain Gonçalves (interfaces) – SAS 3RGOTECH, 24 bis avenue du Chêne Vert, 31270 Frouzins,
            <a href="mailto:romain@3rgo.tech">romain@3rgo.tech</a>
        </li>
    </ul>
    <em>Le modèle de mentions légales est offert par
        <a href="https://www.subdelirium.com/generateur-de-mentions-legales/">Subdelirium.com Générateur de mentions légales</a>
    </em>
</p>
<h3>2. Conditions générales d'utilisation du site et des services proposés.</h3>
<p class="text-justify">
    L'utilisation du site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    implique l'acceptation pleine et entière des conditions générales d'utilisation ci-après décrites. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, les utilisateurs du site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    sont donc invités à les consulter de manière régulière.
</p>
<p class="text-justify">
    Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par PLH (EA 4601) ou l'hébergeur Huma-num (TGIR pour les SHS).
</p>
<p class="text-justify">
    Le site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    est mis à jour régulièrement. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s'imposent néanmoins à l'utilisateur qui est invité à s'y référer le plus souvent possible afin d'en prendre connaissance.
</p>
<h3>3. Description des services fournis.</h3>
<p class="text-justify">
    Le site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    a pour objet de fournir une base de données relationnelle en SQL (Structured Query Language) qui permet d'enregistrer un grand nombre d'informations de différentes qualités liées aux problématiques de recherche du projet ERC MAP (741182 -
    <a href="https://map-polytheisms.huma-num.fr">https://map-polytheisms.huma-num.fr</a>). Ces informations sont stockées dans la base et consultables par les interfaces de recherche.
</p>
<p class="text-justify">
    L'équipe ERC MAP (741182) s'efforce de fournir sur le site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    des informations aussi précises que possible. Toutefois, elle ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu'elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
</p>
<p class="text-justify">
    Tous les informations indiquées sur le site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    sont données à titre indicatif, et sont susceptibles d'évoluer. Par ailleurs, les renseignements figurant sur le site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
</p>
<h3>4. Limitations contractuelles sur les données techniques.</h3>
<p class="text-justify">
    Le site utilise la technologie Symfony (composants PHP et framework MVC libre écrit en PHP) et JavaScript. Code du site :
    <a href="https://github.com/LaboratoirePLH/ERC-MAP/">https://github.com/LaboratoirePLH/ERC-MAP/</a>
</p>
<p class="text-justify">
    Le site Internet ne pourra être tenu responsable de dommages matériels liés à l'utilisation du site. De plus, l'utilisateur du site s'engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.
</p>
<h3>
    5. Propriété intellectuelle et contrefaçons.
</h3>
<p class="text-justify">
    Le projet ERC MAP (741182), rattaché au laboratoire PLH (EA 4601), est propriétaire des droits de propriété intellectuelle ou détient les droits d'usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.
</p>
<p class="text-justify">
    Pour citer la base de données MAP :
    <blockquote class="ml-3 border-left border-secondary pl-3">
        Bonnet C. (dir.), ERC Mapping Ancient Polytheisms 741182 (DB MAP), Toulouse 2017-2022 : https://base-map-polytheisms.huma-num.fr/ (AAAA/MM/JJ).
    </blockquote>
</p>
<p class="text-justify">
    Toute exploitation non autorisée du site ou de l'un quelconque des éléments qu'il contient sera considérée comme constitutive d'une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
</p>
<h3>
    6. Limitations de responsabilité.
</h3>
<p class="text-justify">
    Ni le projet ERC MAP (741182), ni le laboratoire PLH (EA 4601) ne pourront être tenus responsables des dommages directs et indirects causés au matériel de l'utilisateur, lors de l'accès au site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>, et résultant soit de l'utilisation d'un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l'apparition d'un bug ou d'une incompatibilité.
</p>
<h3>
    7. Gestion des données personnelles.
</h3>
<p class="text-justify">
    Les informations recueillies vous concernant font l’objet d’une déclaration auprès du service de Protection des données de l'Université Toulouse-Jean Jaurès, 5 allées Antonio Machado, 31 058 Toulouse Cedex 9,
    <a href="mailto:dpo@univ-tlse2.fr">dpo@univ-tlse2.fr</a>. La base légale de cette déclaration s’appuie sur votre consentement.
</p>
<p class="text-justify">
    Si vous estimez, après nous avoir contactés, que vos droits sur vos données ne sont pas respectés, vous pouvez adresser une réclamation (plainte) à la CNIL :
    <a href="https://www.cnil.fr/fr/webform/adresser-une-plainte">https://www.cnil.fr/fr/webform/adresser-une-plainte</a>
</p>
<h3>
    8. Liens hypertextes et cookies.
</h3>
<p class="text-justify">
    Le site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    contient un certain nombre de liens hypertextes vers d'autres sites, mis en place avec l'autorisation du projet ERC MAP (741182) et du laboratoire PLH (EA 4601). Cependant, le projet ERC MAP (741182) et le laboratoire PLH (EA 4601) n'ont pas la possibilité de vérifier le contenu des sites ainsi visités, et n'assumera en conséquence aucune responsabilité de ce fait.
</p>
<p class="text-justify">
    Lors de la consultation de notre site
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>, des cookies sont déposés sur votre ordinateur, votre mobile ou votre tablette. Un cookie est un fichier de petite taille qui permet de conserver des données utilisateur et des informations relatives à la navigation d'un ordinateur sur un site. Ces cookies permettent au site de fonctionner de manière optimale. Vous pouvez vous y opposer et les supprimer en utilisant les paramètres de votre navigateur, cependant votre expérience utilisateur risque d'être dégradée. Les moyens d'opposition au dépôt des cookies via votre navigateur sont donnés sur le site Gouvernement.fr. (<a href="https://www.gouvernement.fr/donnees-personnelles-et-cookies">https://www.gouvernement.fr/donnees-personnelles-et-cookies</a>) pour les navigateurs suivants : Firefox, Chrome, Explorer, Safari et Opera.
</p>
<h3>
    9. Droit applicable et attribution de juridiction.
</h3>
<p class="text-justify">
    Tout litige en relation avec l'utilisation du
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.
</p>
<h3>
    10. Les principales lois concernées.
</h3>
<p class="text-justify">
    <ul>
        <li>
            Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.
        </li>
        <li>
            Règlement (UE) 2016/679 du parlement européen et du conseil du 27 avril 2016
        </li>
        <li>
            Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
        </li>
    </ul>
</p>
<h3>
    11. Lexique.
</h3>
<p class="text-justify">
    <ul>
        <li>
            <strong>Utilisateur</strong>
            : Internaute se connectant, utilisant le site susnommé.
        </li>
        <li>
            <strong>Informations personnelles</strong>
            : "les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent" (article 4 de la loi n° 78-17 du 6 janvier 1978).
        </li>
    </ul>
</p>
