<h3>1. Website presentation.</h3>
<p class="text-justify">
    In virtue of article 6 of Law no. 2004-575 of the 21st of June, 2004, on confidence in the digital economy, users of the website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    are informed of the identity of the various parties within the scope of its implementation and monitoring:
    <ul>
        <li>
            <strong>Owner</strong>
            : ERC MAP project (741182), PLH laboratory (EA4601). Maison de la Recherche, Université Toulouse Jean Jaurès, 5 Allée Antonio Machado, 31058 Toulouse Cedex 9 (France).
        </li>
        <li>
            <strong>Creator</strong>
            : ERC MAP project (741182)
        </li>
        <li>
            <strong>Party responsible for publication</strong>
            : Corinne Bonnet (dir.)
            <em>The party responsible for publication is a natural or legal person.</em>
        </li>
        <li>
            <strong>Webmaster</strong>
            : MAP team,
            <a href="mailto:map.polytheisms@gmail.com">map.polytheisms@gmail.com</a>
        </li>
        <li>
            <strong>Host</strong>
            : TGIR Huma-Num - UMS 3598, 54 Boulevard Raspail, 75006 Paris
        </li>
        <li>
            <strong>Credits</strong>
            : Antoine Laurent (webmapping) – Maison de la Recherche, Université Toulouse Jean Jaurès, 5 Allées Antonio Machado, 31058 Toulouse Cedex 9 (France),
            <a href="mailto:antoine.laurent@univ-tlse2.fr">antoine.laurent@univ-tlse2.fr</a>
            and Romain Gonçalves (interfaces) – SAS 3RGOTECH, 24 bis avenue du Chêne Vert, 31270 Frouzins (France),
            <a href="mailto:romain@3rgo.tech">romain@3rgo.tech</a>
        </li>
    </ul>
    <em>This legal disclaimer template is provided by
        <a href="subdelirium.com">Subdelirium.com Legal disclaimer generator</a>
    </em>
</p>
<h3>2. General terms of use for the website and services offered.</h3>
<p class="text-justify">
    The usage of the website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    implies the full and unconditional acceptance of the general terms of use stated below. These terms of use may be modified or augmented at any time, users of the website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    are therefore invited to consult them on a regular basis.
</p>
<p class="text-justify">
    This website is normally accessible to users at all times. PLH (EA 4601) or the host, Huma-num (major research infrastructure for social sciences and the humanities) may, however, decide to interrupt access to carry out technical maintenance.
</p>
<p class="text-justify">
    The website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    is updated regularly. Equally, the legal notices may be modified at any time: they are nonetheless binding to users, and users are therefore advised to check them as often as possible.
</p>
<h3>3. Description of the services provided.</h3>
<p class="text-justify">
    The objective of the website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    is to provide a relational database in SQL (Structured Query Language) which allows a number of different types of information to be recorded, linked to the research topics of the ERC MAP project (741182 -
    <a href="https://map-polytheisms.huma-num.fr">https://map-polytheisms.huma-num.fr</a>). This information is stored in the database and can be consulted by search interfaces.
</p>
<p class="text-justify">
    The ERC MAP team (741182) endeavours to supply the most accurate information possible on the website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>. However, it cannot be held responsible for omissions, inaccuracies and deficiencies in updates, whether of its own doing or of that of partner third parties providing the information concerned.
</p>
<p class="text-justify">
    All information provided on the website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    is given as guidance and may be subject to change. Subsequently, the information given on the website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    is not exhaustive. It is provided subject to any amendments that may have been introduced since it was published online.
</p>
<h3>4. Contractual limitations on technical data.</h3>
<p class="text-justify">
    The website uses Symfony technology (PHP and MVC free framework written in PHP) and JavaScript.
    <a href="https://github.com/LaboratoirePLH/ERC-MAP/">https://github.com/LaboratoirePLH/ERC-MAP/</a>
</p>
<p class="text-justify">
    The Internet site will not be considered responsible for material damages connected to the use of the website. Additionally, the user of the website agrees to access said website using recent equipment, free of viruses and with an updated, latest-generation web browser.
</p>
<h3>
    5. Intellectual property and counterfeits.
</h3>
<p class="text-justify">
    The ERC MAP project (741182), connected to the PLH laboratory (EA 4601), is the owner of the intellectual property rights or holds the rights of use on all the elements accessible on the website, notably the texts, images, graphics, logo, icons, sounds, software.
</p>
<p class="text-justify">
    To cite the MAP database :
    <blockquote class="ml-3 border-left border-secondary pl-3">
        Bonnet C. (dir.), ERC Mapping Ancient Polytheisms 741182 (DB MAP), Toulouse 2017-2022 :
        <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
        (AAAA/MM/JJ).
    </blockquote>
</p>
<p class="text-justify">
    Any unauthorised use of the website or any of the elements therein will be considered constituent of an infringement and prosecuted in accordance with the provisions of articles L.335-2 and in compliance with the Intellectual Property Code.
</p>
<h3>
    6. Limitations of liability.
</h3>
<p class="text-justify">
    Neither the ERC MAP project (741182) nor the PLH laboratory (EA 4601) can be held responsible for direct and indirect damage caused to the user&#39;s equipment, when accessing the website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>, and resulting either from the use of equipment that does not meet the specifications indicated in point 4, or from the appearance of a bug or incompatibility.
</p>
<h3>
    7. Personal data management.
</h3>
<p class="text-justify"></p>
<h3>
    8. Hypertext links and cookies.
</h3>
<p class="text-justify">
    The website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    contains a certain number of hypertext links to other websites, implemented with the authorisation of the ERC MAP project (741182) and the PLH laboratory (EA 4601). However, the ERC MAP project (741182) and the PLH laboratory (EA 4601) are unable to verify the content of websites visited in this way and therefore disclaim all responsibility in this regard.
</p>
<p class="text-justify">
    Upon consulting our website
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>, cookies will be saved to your computer, mobile device or tablet. A cookie is a small file that allows user data to be saved along with information concerning the browsing by a computer on a website. These cookies allow the website to function optimally. You may oppose and delete them using your browser settings, however your user experience may be reduced. Instructions for opposing the storage of cookies via your browser are stated on the website Gouvernement.fr. (<a href="https://www.gouvernement.fr/donnees-personnelles-et-cookies">https://www.gouvernement.fr/donnees-personnelles-et-cookies</a>) for the following browsers: Firefox, Chrome, Explorer, Safari and Opera.
</p>
<h3>
    9. Applicable law and allocation of jurisdiction.
</h3>
<p class="text-justify">
    Any dispute relating to the use of
    <a href="https://base-map-polytheisms.huma-num.fr/">https://base-map-polytheisms.huma-num.fr/</a>
    is governed by French law. Full and exclusive jurisdiction is attributed to the competent courts of Paris.
</p>
<h3>
    10. Main laws concerned.
</h3>
<p class="text-justify">
    <ul>
        <li>
            Law no. 78-17 of the 6th of January, 1978, duly amended by Law no. 2004-801 of the 6th of August, 2004, pertaining to information technology, files and liberties.
        </li>
        <li>
            Regulation (EU) 2016/679 of the European Parliament and Council, of the 27th of April, 2016
        </li>
        <li>
            Law no. 2004-575 of the 21st of June, 2004, on confidence in the digital economy.
        </li>
    </ul>
</p>
<h3>
    11. Glossary.
</h3>
<p class="text-justify">
    <ul>
        <li>
            <strong>User</strong>
            : Web user who connects, using the aforementioned website.
        </li>
        <li>
            <strong>Personal information</strong>
            : "information permitting, in any form whatsoever, directly or indirectly, the identification of the natural persons to whom it applies" (article 4 of Law no. 78-17 of the 6th of January, 1978).
        </li>
    </ul>
</p>
