{% extends 'page.html.twig' %}
{% block title %}
{{ ('nav.contact')|trans }}
{% endblock %}
{% block content %}
<div class="col-6 offset-3">
    <form action="" method="post" id="contact">
        <div class="form-group row">
            <label class="col-form-label col-2" for="source_datation_postQuem">
                {{"generic.fields.message"|trans}}
            </label>
            <textarea name="message" id="message" rows="5" class="col-10">
            </textarea>
        </div>
        <div class="form-group row">
            <div class="col-12 text-center">
                <button class="btn btn-primary" type="submit" name="send">
                    <i class="fas fa-paper-plane fa-fw"></i>
                    {{ 'generic.send'|trans }}
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}