{% extends 'page.html.twig' %}
{% block title %}
{{ ('misc.welcome')|trans }}
{% endblock %}
{% block content %}
<div class="col-12 col-xl-8 offset-xl-2">
    {% if locale == 'fr' %}
    {% include "home/_welcome_fr.html.twig" %}
    {% else %}
    {% include "home/_welcome_en.html.twig" %}
    {% endif %}
    <div class="d-flex justify-content-center mt-4">
        <a href=" {{ url('dashboard') }}" class="btn btn-primary">{{ 'misc.go_to_dashboard'|trans }}</a>
    </div>
</div>
{% endblock %}