{% extends 'authenticated.html.twig' %}
{% block title %}
{{ 'pages.home.title'|trans }}
{% endblock %}
{% block content %}
<h4 class="text-center">
    {{ 'pages.home.logged_as'|trans }} {{ user_name }}
</h4>
{% endblock %}