{% extends 'page.html.twig' %}
{% block title %}
    {{ ('misc.legal')|trans }}
{% endblock %}
{% block content %}
    <div class="col-12 col-xl-8 offset-xl-2">
        <p>Officia officia duis dolore velit. Ut ad dolore minim ad excepteur id voluptate. Magna non esse dolore anim commodo aliquip cillum Lorem culpa fugiat quis commodo quis aliqua. Aute sint aliquip ipsum commodo quis.</p>
        <p>Veniam voluptate consequat incididunt ullamco sunt tempor ipsum. Magna veniam occaecat commodo mollit pariatur et irure cupidatat enim mollit nulla ea do sunt. Ad Lorem mollit nulla velit et. Esse officia commodo excepteur non aliquip eu labore proident sunt dolore.</p>
        <p>Proident officia nulla laboris aliquip non elit sit laboris anim culpa pariatur irure cillum. Ullamco labore proident laborum officia est ex consequat labore magna ut dolore. Ex est cupidatat veniam ullamco enim exercitation commodo consectetur laborum reprehenderit pariatur eu. Fugiat sit tempor velit laborum est labore sit. Occaecat consequat sint fugiat consectetur qui aute velit in consequat mollit eiusmod enim anim dolore. Adipisicing adipisicing qui qui laboris pariatur anim ex tempor quis. Qui mollit duis cupidatat dolore dolor id.</p>
        <p>Minim cupidatat sunt excepteur veniam fugiat quis. Culpa quis magna non nulla nisi enim duis. Occaecat aliqua est ad laborum elit qui irure tempor exercitation id reprehenderit laborum consectetur. Proident aliquip nisi mollit minim in officia nisi dolor cupidatat anim quis aliquip. In nisi enim minim irure id culpa cupidatat velit qui.</p>
        <p>Laborum aute ut ex proident excepteur exercitation irure dolore dolor deserunt reprehenderit est. Cupidatat reprehenderit reprehenderit nostrud veniam id dolore reprehenderit. Minim ut ipsum non elit veniam aute.</p>
        <p>Sint do do sint aute ut voluptate culpa. Proident velit cupidatat officia nisi laboris eiusmod est. Deserunt amet culpa magna magna incididunt aute consectetur voluptate officia ut et. Eiusmod irure elit sit esse proident in do. Amet cupidatat ullamco cupidatat cillum minim ut enim est sint tempor sit enim ipsum.</p>
        <p>Cupidatat laborum ut sit excepteur pariatur duis cillum ipsum in cillum. Minim sint aliquip magna elit ex exercitation reprehenderit non voluptate voluptate ullamco incididunt. Qui ea non laborum ad. Est officia ipsum sint magna.</p>
        <p>Tempor minim duis nisi deserunt labore Lorem non qui quis excepteur cupidatat aliqua id. Dolore aliqua proident irure Lorem ad Lorem duis anim et duis fugiat. Anim pariatur ullamco elit sit dolore veniam laboris quis. Sit aute consequat reprehenderit sint ipsum excepteur esse velit officia id incididunt.</p>
        <p>Et consequat officia sit ullamco aute consequat do qui aute elit. Culpa officia excepteur ut ipsum ut consequat sint Lorem non. Elit esse nisi reprehenderit nostrud id mollit sit reprehenderit et dolor Lorem ad elit laborum.</p>
        <p>Et dolor ex laboris sunt culpa. Velit ea ad excepteur nulla amet occaecat. Cupidatat velit laborum exercitation aute anim deserunt fugiat laborum sint duis ut eu adipisicing.</p>
    </div>
{% endblock %}
