{% if breadcrumbs is defined and breadcrumbs is not empty %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for item in breadcrumbs %}
    <li class="breadcrumb-item {% if loop.last %}active" aria-current="page{% endif %}">
      {% if item.url is defined %}
      <a href="{{ item.url }}">{{ item.label|trans }}</a>
      {% else %}
      {{ item.label|trans }}
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}