{% set entity = entity|default(null) %}
{% if entity == "source" %}
{% set color = "btn-primary" %}
{% set icon = "fa-ankh" %}
{% elseif entity == "attestation" %}
{% set color = "btn-success" %}
{% set icon = "fa-file-alt" %}
{% elseif entity == "element" %}
{% set color = "btn-warning" %}
{% set icon = "fa-atom" %}
{% elseif entity == "biblio" %}
{% set color = "btn-danger" %}
{% set icon = "fa-book-open" %}
{% else %}
{% set color = "btn-secondary btn-outline" %}
{% set icon = icon|default(false) %}
{% endif %}
{% if color is defined and icon is defined and link is defined and text is defined %}
<a href="{{ link }}" class="btn btn-sm {{color}}" target="_blank" rel="noopener noreferrer">
    {% if icon != false %}
    <i class="fas fa-fw {{ icon }}"></i>
    {% endif %}
    {{ text }}
</a>
{% endif %}