<button class="btn btn-primary" type="submit" name="save">
    <i class="fas fa-save fa-fw"></i>
    {{ 'generic.save'|trans }}
</button>
{% if showSaveClose|default(true) %}
<button class="btn btn-success" type="submit" name="saveclose">
    <i class="fas fa-check fa-fw"></i>
    {{ 'generic.saveclose'|trans }}
</button>
{% endif %}
<a class="btn btn-danger exit-form-link" href="{{ exitUrl }}">
    <i class="fas fa-times fa-fw"></i>
    {{ 'generic.exit'|trans }}
</a>