$breadcrumb-bg: darken(lightgray, 10%);
$breadcrumb-active-color: #343a40;

@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css";
@import "./component-chosen.css";

$map-yellow: #d8be00;
$map-grey: #434343;

body {
    background-color: lightgray;

    &.login-page {
        background-image: url('images/bkg-ercmap.jpg');

        form div.form-group {
            margin-bottom: 2rem;

            label {
                font-weight: bold;
            }
        }
    }

    header#site-header {
        background-image: url('images/bkg-ercmap.jpg');

        #site-logo {
            width: 100%;
        }

        .btn {
            background-color: rgba(67, 67, 67, 0.4);
            color: #fff;

            &:hover {
                background-color: rgba(67, 67, 67, 1);
            }
        }

        nav#navigation {
            background-color: $map-grey;

            .nav-item {
                border: 1px solid #dbdbdb;

                a {
                    color: #fff;
                }

                &.active,
                &:hover {
                    background-color: $map-yellow;

                    a {
                        color: #434343;
                    }
                }
            }
        }
    }

    main {
        padding-top: 40px;

        form {
            .col-form-label {
                font-weight: bold;
                text-align: right;

                &.required {
                    &::after {
                        content: "*";
                        color: red;
                        font-weight: bolder;
                        // font-size: 2rem;
                    }
                }
            }
        }

        table.list_table {

            th[scope=row],
            td {
                vertical-align: middle;
            }
        }

        form {
            .form-section-title {
                border: 1px solid desaturate($map-yellow, 10%);
                background-color: desaturate($map-yellow, 10%);
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                margin-top: ($spacer * .50);
                margin-bottom: ($spacer * .50);
            }

            &#source {
                #source_sourcebiblios {

                    /* Amélioration de l'affichage des références bibliographiques */
                    &>div.form-group.row {
                        padding-top: ($spacer * .5) !important;
                        padding-bottom: ($spacer * 1) !important;

                        &:nth-child(even) {
                            background-color: darken(lightgray, 10%);
                        }
                    }
                }
            }
        }
    }
}


/* Texte par défaut du choix multiple */
.chosen-container-multi .chosen-choices .search-field input[type="text"] {
    color: lighten($body-color, 60%);
}

/* Texte par défaut du choix simple */
.chosen-container-single a:not([href]):not([tabindex]) {
    color: lighten($body-color, 60%) !important;
}

/* Correction de l'affichage du groupe */
.chosen-container-single .chosen-single .group-name {
    padding-right: 5px;

    &::after {
        content: " > ";
    }
}

/* Sélection du choix simple */
.chosen-container-single a:not([href]):not([tabindex]).chosen-single:not(.chosen-default) {
    color: $body-color !important;
}

select:invalid {
    height: 0px !important;
    opacity: 0 !important;
    position: absolute !important;
    display: flex !important;
}

select:invalid[multiple] {
   margin-top: 15px !important;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    &:hover {
        background: #e9ebec;
    }
    &.show {
        opacity: 1;
    }
}