@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "./component-chosen.css";

body {
    background-color: lightgray;

    &.login-page {
        background-image: url('images/bkg-ercmap.jpg');
    }

    header#site-header {
        background-image: url('images/bkg-ercmap.jpg');

        .btn {
            background-color: rgba(67, 67, 67, 0.4);
            color: #fff;

            &:hover {
                background-color: rgba(67, 67, 67, 1);
            }
        }

        nav#navigation {
            background-color: #434343;

            .nav-item {
                border: 1px solid #dbdbdb;

                a {
                    color: #fff;
                }

                &.active,
                &:hover {
                    background-color: #d8be00;

                    a {
                        color: #434343;
                    }
                }
            }
        }
    }

    main {
        padding-top: 40px;

        form {
            .col-form-label {
                font-weight: bold;
                text-align: right;
            }
        }

        #source_list {
            tbody tr {
                cursor: pointer;
            }
        }

        form {
            #source {
                #source_translations .form-check {
                    display: inline-block;
                    margin-top: ($spacer * .30) !important;
                    margin-right: ($spacer * .50) !important;
                }
            }
        }
    }
}