@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "./component-chosen.css";

%inlineCheckInput {
    display: inline-block;
    margin-top: ($spacer * .30) !important;
    margin-right: ($spacer * .50) !important;
}

body {
    background-color: lightgray;

    &.login-page {
        background-image: url('images/bkg-ercmap.jpg');

        form div.form-group {
            margin-bottom: 2rem;

            label {
                font-weight: bold;
            }
        }
    }

    header#site-header {
        background-image: url('images/bkg-ercmap.jpg');

        #site-logo {
            width: 100%;
        }

        .btn {
            background-color: rgba(67, 67, 67, 0.4);
            color: #fff;

            &:hover {
                background-color: rgba(67, 67, 67, 1);
            }
        }

        nav#navigation {
            background-color: #434343;

            .nav-item {
                border: 1px solid #dbdbdb;

                a {
                    color: #fff;
                }

                &.active,
                &:hover {
                    background-color: #d8be00;

                    a {
                        color: #434343;
                    }
                }
            }
        }
    }

    main {
        padding-top: 40px;

        form {
            .col-form-label {
                font-weight: bold;
                text-align: right;
            }
        }

        #source_list {

            th[scope=row],
            td {
                vertical-align: middle;
            }
        }

        form {
            .form-section-title {
                border: 1px solid lighten(theme-color("dark"), 50%);
                background-color: lighten(theme-color("dark"), 50%);
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                margin-top: ($spacer * .50);
                margin-bottom: ($spacer * .50);
            }

            &#source {
                #source_translations .form-check {
                    /* Modification des checkbox pour les afficher en inline */
                    @extend %inlineCheckInput;
                }


                #source_sourcebiblios {

                    /* Amélioration de l'affichage des références bibliographiques */
                    &>div.form-group.row {
                        padding-top: ($spacer * .5) !important;
                        padding-bottom: ($spacer * 1) !important;

                        &:nth-child(even) {
                            background-color: darken(lightgray, 10%);
                        }

                        legend.biblio_creation_field,
                        legend.corpus_creation_field {
                            &+.col-sm-10 {
                                .form-check {
                                    /* Modification des radio pour les afficher en inline */
                                    @extend %inlineCheckInput;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Texte par défaut du choix multiple */
.chosen-container-multi .chosen-choices .search-field input[type="text"] {
    color: lighten($body-color, 60%);
}

/* Texte par défaut du choix simple */
.chosen-container-single a:not([href]):not([tabindex]) {
    color: lighten($body-color, 60%) !important;
}

/* Sélection du choix simple */
.chosen-container-single a:not([href]):not([tabindex]).chosen-single:not(.chosen-default) {
    color: $body-color !important;
}