@import "app.scss";

@import "./component-chosen.css";
@import "~virtual-keyboard/dist/css/keyboard.min.css";

@import "~quill/dist/quill.snow.css";

.quill, .ql-toolbar {
    background: white;
}

.ql-editor {
    font-size: 140%;
}

.ql-toolbar.ql-snow {

    .ql-formats {
        border-right: 1px solid #cccccc;
        &:last-child {
            border-right: none;
        }

        margin-left: 0px;
        padding-right: 15px;

        button {
            border: 1px solid #cccccc;
            border-radius: 5px;
            margin: 0 1px;
        }

    }

    button.ql-ifao {
        padding-top: 0px;
        width: 45px;

        &:after {
            content: "IFAO";
        }
    }
}

/* Texte par défaut du choix multiple */
.chosen-container-multi .chosen-choices .search-field input[type="text"] {
    color: lighten($body-color, 60%);
}

/* Texte par défaut du choix simple */
.chosen-container-single a:not([href]):not([tabindex]) {
    color: lighten($body-color, 60%) !important;
}

/* Correction de l'affichage du groupe */
.chosen-container-single .chosen-single .group-name {
    padding-right: 5px;

    &::after {
        content: " > ";
    }
}

/* Sélection du choix simple */
.chosen-container-single a:not([href]):not([tabindex]).chosen-single:not(.chosen-default) {
    color: $body-color !important;
}

select:invalid {
    height: 0px !important;
    opacity: 0 !important;
    position: absolute !important;
    display: flex !important;
}

select:invalid[multiple] {
   margin-top: 15px !important;
}

.collection-block {
    margin: 0 ($spacer * .50);
    .collection-item {
        border: 1px solid $map-yellow;
        border-radius: 10px;

        &>legend {
            padding: ($spacer * .50);
            margin-bottom: 0;
        }
        &>div {
            border-top: 1px solid $map-yellow;
            padding: ($spacer * .50);
        }
    }
}