{% extends 'base.html.twig' %}
{% block body %}
{{ include('partials/_navigation.html.twig') }}
<main class="container-fluid mb-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">
                {% block title %}{% endblock %}
            </h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11">
            {% block content %}{% endblock %}
        </div>
    </div>
</main>
<hr />
<footer class="text-center font-weight-light">
    &copy; {{ 'misc.copyright'|trans }}
</footer>
{% endblock %}