{% extends 'page.html.twig' %}
{% block title %}
{{ ('pages.error.other.title')|trans }}
{% endblock %}
{% block content %}
<hr>
<div class="col-12 text-center" style="min-height:300px;">
    <h5>
        {{ 'pages.error.other.body'|trans }}
    </h5>
    <br/>
    <a href="{{ url('home') }}">{{ 'pages.error.other.link'|trans }}</a>
</div>
{% endblock %}